/*ADMIN*/
/*ADMIN*/
/*ADMIN*/
.thongke1{
  width: 250px;
  height: 100px;
  background:white;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5px 10px 5px 10px;
}
.thongke2{
  width: 250px;
  height: 100px;
  background:white;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5px 10px 5px 10px;
}
.thongke3{
  width: 250px;
  height: 100px;
  background:white;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5px 10px 5px 10px;
}
.thongke4{
  width: 250px;
  height: 100px;
  background:white;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5px 10px 5px 10px;
}


.thongke1 span{
    background: #0B90BB;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
  }
  
.thongke2 span{
    background: #dd4b39;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
  }
  
.thongke3 span{
    background: #00a65a;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
  }
  
.thongke4  span{
    background: #f39c12;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
  }


  

.thongkeTieude{
  font-size: 20px;
  text-align: center;
}

.thongkeContent{
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;

}